<p>heroes works!</p>

<!-- mapping data by *ngFor -->
<h2>My Heroes</h2>
<ul class="heroes">
    <!-- *ngFor like a map method -->
    <!-- for loop data and create element on li scope  -->
    <li *ngFor="let hero of heroes">
        <!-- switch class (single class binding) between onclick event -->
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>

<!-- send data to value in child component key (like a sending prop in React) -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>