<p>heroes works!</p>

<!-- add hero data from component -->
<!-- use Pipes for format data (like a use method in JS) -->
<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id:</span> {{hero.id}}</div>
<div><span>name:</span> {{hero.name}}</div> -->

<!-- mapping data by *ngFor -->
<h2>My Heroes</h2>
    <ul class="heroes">
        <!-- *ngFor like a map method -->
        <!-- for loop data and create element on li scope  -->
        <li *ngFor="let hero of heroes">
            <button type="button" (click)="onSelect(hero)">
                <span class="badge">{{hero.id}}</span>
                <span class="name">{{hero.name}}</span>
            </button>
        </li>
    </ul>

<!-- add input two-way binding -->
<div>
    <!-- <label for="name">Hero name:</label> -->
    <!-- use property ngModel for connect between data on input value & Initialize data in object value -->
    <!-- like a setState on useState Hook of React -->
    <!-- <input type="text" [(ngModel)]="hero.name" placeholder="name"> -->
</div>